body{
    background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    box-sizing: border-box;
}
.nav{
    list-style-type: none;
    background-color: rgb(2, 41, 2);
    margin-left: 50px;
    float: right;
    height: 35px;
    width: 13.5cm;
    border-radius: 10px;
}
.nav li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 5px;
}
a{
    color: gray;
}

#s2{
    background-image: url(https://img.freepik.com/free-vector/modern-space-rocket-with-realistic-design_23-2147902661.jpg?t=st=1721882481~exp=1721886081~hmac=cbc88e2e42e99cd44a071b0bb90f2b4986785ad65d8ddd3654c7f30be708957d&w=740);
    height: 10cm;
    width: 8cm;
    margin-top: 3.5cm;
    margin-left: 1cm;
    float: left;
    border-radius: 15px;
}
#h1{
    text-align: center;
    color: rgb(77, 128, 126);
}
label{
    color: antiquewhite;
    margin-left: .5cm;
}
#s2 > input{
    border-radius: 10px;
    margin-top: 1cm;background-color: burlywood;
    color: darkcyan;
}
#b1{
    height: 1cm;
    width: 2cm;
    margin-top: 1cm;
    margin-left: 3cm;
    border-radius: 10px;
    background-color: rgb(6, 117, 74);
    color: wheat;
    font-style: italic;
}
#b2{
    height: 1cm;
    width: 2cm;
    margin-top: 0;
    margin-left: 3cm;
    border-radius: 10px;
    background-color: rgb(6, 117, 74);
    color: wheat;
    font-style: italic;
}
h3{
    text-align: center;
    color: beige;
}
#s3
{
    margin-top: 2cm;
    margin-right: 10cm;
    float: right;
    width: 10cm;
}
#b3{
    background-color: rgb(1, 16, 10);
    color: rgb(76, 89, 102);
    width: 4cm;
    height: 1.5cm;
    border-radius: 15px;
    margin-left: 2cm;
}
#s4{
    float:right;
    margin-right:2cm;
    box-sizing: border-box;
}